*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

/* shearing style section */
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.btn{
    background-color: #469165;
    color: #FFFFFF;
    padding: 12px 16px;
    border-radius: 4px;
    border-style: none;
    font-size: 16px;
    font-weight: 600px;
    cursor: pointer;
}



/* main style section */
header nav{
    max-width: 1600px;
    background-color: #FFFFFF;
    padding: 16px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav .menu-items{
    display: flex;
    list-style: none;
    width: 365px;
    justify-content: space-between;
}

header nav .menu-items a{
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    line-height: 152%;
    font-weight: 500px;
}

.benner-section{
    max-width: 1600px;
    height: 674px;
    background: url(../assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 120px 120px 134px;
    text-align: center;
}

.benner-section .benner a{
    width: 229px;
    background-color: #FFFFFF;
    color: #469165;
    font-size: 16px;
    font-weight: 500px;
    text-decoration: none;
    border-radius: 100px;
    padding: 8px 12px;
}

.benner-section .benner-contain h2{
    margin: 16px auto;
    font-size: 72px;
    line-height: 84px;
    color: #FFFFFF;
}

.benner-section .benner-contain h2 span{
    color: #30B868;
}

.benner-section .benner-contain p{
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 400px;
    line-height: 24px;
    margin-bottom: 32px;
}

.benner-section .button .work-btn{
    margin-left: 16px;
    padding: 12px 16px;
    color: #FFFFFF;
    background: none;
    font-size: 16px;
    font-weight: 600px;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    cursor: pointer;
}

