*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

/* shearing style section */
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.btn{
    background-color: #469165;
    color: #FFFFFF;
    padding: 12px 16px;
    border-radius: 4px;
    border-style: none;
    font-size: 16px;
    font-weight: 600px;
    cursor: pointer;
}

.btn:hover{
    /* background-color: rgba(32, 32, 236, 0.719); */
    background: none;
    color:black;
    border: 1px solid #30B868;
    border-radius: 4px;
}

.paragraph{
    font-size: 16px;
    font-weight: 400px;
    line-height: 20px;
    color: #627382;
}

.circle{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #F95555;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 45px 101px 16px;

}

.card{
    padding: 24px;
    text-align: center;
    border-radius: 8px;
    width: 322px;
    box-shadow: 0px 0px 8px 0px #0000001c;
}


/* main style section */
header nav{
    max-width: 1600px;
    background-color: #FFFFFF;
    padding: 16px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav .menu-items{
    display: flex;
    list-style: none;
    width: 365px;
    justify-content: space-between;
}

header nav .menu-items a{
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    line-height: 152%;
    font-weight: 500px;
}

.benner-section{
    max-width: 1600px;
    height: 674px;
    background: url(../assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 120px 120px 134px;
    text-align: center;
}

.benner-section .benner a{
    width: 229px;
    background-color: #FFFFFF;
    color: #469165;
    font-size: 16px;
    font-weight: 500px;
    text-decoration: none;
    border-radius: 100px;
    padding: 8px 12px;
}

.benner-section .benner-contain h2{
    margin: 16px auto;
    font-size: 72px;
    line-height: 84px;
    color: #FFFFFF;
}

.benner-section .benner-contain h2 span{
    color: #30B868;
}

.benner-section .benner-contain p{
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 400px;
    line-height: 24px;
    margin-bottom: 32px;
}

.benner-section .button .work-btn{
    margin-left: 16px;
    padding: 12px 16px;
    color: #FFFFFF;
    background: none;
    font-size: 16px;
    font-weight: 600px;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    cursor: pointer;
}

.benner-section .button .work-btn:hover{
    background-color: #469165;
    border: none;
}


.note-section{
    max-width: 1600px;
    padding: 0px 120px;
    color: #FFFFFF;
}

.note-section .note-heading h2{
    color: #001931;
    font-size: 48px;
    padding-bottom: 16px;
    height: 116px;
    display: flex;
    align-items: end;
    justify-content: center;
}
.note-section .note-heading p{
    text-align: center;
}

.note-section .card-container{
    display: flex;
    gap: 24px;
    margin-top: 44px;
}

.card-container .card h3{
    color:#001931;
    font-size: 24px;
    font-weight: 600px;
    margin-bottom: 16px;
}

.brain-container{
    max-width: 1600px;
    padding: 120px;
    background-color: #FFFFFF;
    display: flex;
    gap: 60px;
}

.brain-container .brain-info{
    margin: 102px 0px;
}

.brain-container .brain-info h4 a{
    font-size: 16px;
    font-weight: 500px;
    line-height: 20px;
    color: #469165;
    text-decoration: none;
}

.brain-container .brain-info h2{
    font-size: 48px;
    color: #001931;
    margin: 16px 0px;
}

.brain-container .brain-info ul{
    list-style: none;
    margin-top: 40px;

}

.brain-container .brain-info ul li{
    font-size: 16px;
    font-weight: 500px;
    line-height: 20px;
    color: #001931;
    margin-bottom: 16px;
}

.brain-info ul li::before{
    content: url(../assets/CheckCircle.png);
    align-items: center;
    position: relative;
    top: 5px;
    margin-right: 6px;
}

.early-access-container{
    max-width: 1600px;
    padding: 2px 120px 120px;
    background-color: #FFFFFF;

}

.early-access-container .early-access{
    padding: 80px 40px;
    text-align: center;
}

.early-access .early-access-info h2{
    color:#001931;
    font-size: 40px;
}

.early-access .early-access-info p{
    font-size: 16px;
    color: #627382;
    line-height: 24px;
    margin: 16px 0px 24px;
    font-weight: 400px;
}

.early-button-and-anouther-info p{
    margin-top: 16px;
}

.early-button-and-anouther-info .anouther-info{
    display: flex;
    justify-content: center;
    gap: 5px;
}

.early-button-and-anouther-info .paragraph-circle{
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #627382;
    margin-top: 22px;

}

footer{
    max-width: 1600px;
    padding: 120px 120px 30px;
    background-color: #001931;
    
}

footer .footer-container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}

footer .footer-container .social-info h3{
    font-size: 20px;
    font-weight: 500px;
    line-height: 28px;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.footer-container .social-info .icons a img{
    width: 20px;
    height: 20px;
    margin: 5px;
    
}

.footer-container .social-info .icons{
    display: flex;
    align-items: center;
    gap: 16px;
}

.icon-circle{
    width: 30px;
    height: 30px;
    background-color: #FFFFFF;
    border-radius: 50%;
}

footer p{
    color: #FFFFFF;
    text-align: center;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 400px;
    line-height: 24px;
}

footer hr{
    border-color: #627382;
}

